<% @genres.each do |genre| %>
  <div id="genre-<%=genre.id%>">
  <%= link_to genre.name, genre_path(genre) %>
</div>
<% end %>

<% if current_admin? %>
    <%= form_for [:admin, @genre] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %> %>
<% end %>
